<%= form_for(@bar) do |f| %>
  <% if @bar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bar.errors.count, "error") %> prohibited this bar from being saved:</h2>

      <ul>
      <% @bar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :telephone_number %><br />
    <%= f.text_field :telephone_number %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :open_time %><br />
    <%= f.time_select :open_time %>
  </div>
  <div class="field">
    <%= f.label :closed_time %><br />
    <%= f.time_select :closed_time %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.collection_select :area_id, Area.all, :id, :name, include_blank: true  %>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
