<h1>Listing bars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Telephone number</th>
    <th>Address</th>
    <th>Open time</th>
    <th>Closed time</th>
    <th>Image url</th>
    <th>Area</th>
    <th>Genre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bars.each do |bar| %>
  <tr>
    <td><%= bar.name %></td>
    <td><%= bar.description %></td>
    <td><%= bar.telephone_number %></td>
    <td><%= bar.address %></td>
    <td><%= bar.open_time %></td>
    <td><%= bar.closed_time %></td>
    <td><%= bar.image_url %></td>
    <td><%= bar.area.name %></td>
    <td><%= bar.genre.name %></td>
    <td><%= link_to 'Show', bar %></td>
    <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
    <td><%= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bar', new_bar_path %>
